<div class="card text-center mt-3">
  <div class="card-body">
    <h5 class="card-title">{{$ctrl.party.attributes.name}}</h5>
    <p class="card-text">{{$ctrl.party.attributes.description}}</p>
    <div class="row mb-2">
      <div class="col">
        <p class="card-text"><i class="far fa-clock"></i> 
          {{$ctrl.party.attributes.time}}</p>
      </div>
      <div class="col">
        <p class="card-text"><i class="far fa-calendar-alt"></i> 
          {{$ctrl.party.attributes.date.getMonth() + 1}}/{{$ctrl.party.attributes.date.getDate()}}/{{$ctrl.party.attributes.date.getFullYear() - 2000}}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{$ctrl.party.attributes.location}}</p>
      </div>
      <div class="col">
        <p class="card-text"><i class="fa fa-money"></i> ${{$ctrl.party.attributes.entryFee}}</p>
      </div>
    </div>
    <a href="" class="btn btn-primary" role="button" ng-click="$ctrl.openPaymentWindow()">Buy Ticket</a>

  </div>
</div>
