<div class="container">
  <!-- Plan Party Form -->
  <form ng-submit="$ctrl.submitParty()">
    <div class="form-group">
      <label for="nameInput">Party Name</label>
      <input type="text" class="form-control" id="nameInput" ng-model="name">
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="4" ng-model="description"></textarea>
    </div>
    <div class="form-group">
      <label for="dateInput">Date</label>
      <input type="date" class="form-control" id="dateInput" ng-model="date">
    </div>
    <div class="form-group">
      <label for="locationInput">Location</label>
      <input type="text" class="form-control" id="locationInput" ng-model="location">
    </div>
    <div class="form-group">
      <label for="entryFeeInput">Entry Fee</label>
      <input type="number" class="form-control" id="entryFeeInput" ng-model="entryFee">
    </div>
    <div class="form-group">
      <label for="maxCapacityInput">Maximum Capacity</label>
      <input type="number" class="form-control" id="maxCapacityInput" ng-model="maxCapacity">
    </div>
    <div class="form-group">
      <label for="openToPublicInput">Open To Public</label>
      <input type="checkbox" checked=true class="form-control" id="openToPublicInput" ng-model="openToPublic">
    </div>
    <button type="submit" class="btn btn-primary">Submit Party</button>
  </form>

</div>