<div class="container">

  <!-- Search Bar -->
  <search-bar></search-bar>
  
  <div>
    <br>
    <input type="text" class="form-control col-4" id="searchInput" placeholder="Search" ng-model="searchInput">
  </div>

  <!-- Party Card for each party-->
  <div class="row">
    <div ng-repeat="party in $ctrl.parties | filter:searchInput" class="col-md-6 col-lg-4">
      <party party="party"></party>
    </div>
  </div>

  <!--Payment Modal-->
  <div class="payment-modal hidden">
    <h5>{{$ctrl.selectedParty.name}}: ${{$ctrl.selectedParty.entryFee}}</h5>
    <div id="dropin-container"></div>
    <a id="submit-payment-button" href="" class="btn btn-primary" role="button">Complete Purchase</a>
    <span ng-click="$ctrl.closePaymentWindow()">&#9747</span>
  </div>

  <div class="page-mask hidden"></div>

</div>