<div class="container">
  <!-- Plan Party Form -->
  <form>
    <div class="form-group">
      <label for="nameInput">Party Name</label>
      <input type="text" class="form-control" id="nameInput" ng-model="name">
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="4" ng-model="description"></textarea>
    </div>
    <div class="form-group">
      <label for="dateInput">Date</label>
      <input type="text" class="form-control" id="dateInput" ng-model="date">
    </div>
    <div class="form-group">
      <label for="timeInput">Time</label>
      <input type="text" class="form-control" id="timeInput" ng-model="time">
    </div>
    <div class="form-group">
      <label for="addressInput">Address</label>
      <input type="text" class="form-control" id="addressInput" ng-model="address">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submitParty()">Submit Party</button>
  </form>

</div>