<form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
  <label class="auth_label">
    <input
      class="auth_input"
      type="text" 
      name="username"
      required="required" 
      placeholder="Username"
      ng-model="$ctrl.user.username"
    />
  </label>
  <label class="auth_label">
    <input 
      class="auth_input"
      type="password" 
      name="password"
      required="required" 
      placeholder="Password"
      ng-model="$ctrl.user.password"
    />
  </label>
  <div class="auth-button">
    <button ng-disabled="authForm.$invalid" type="submit">
      {{ $ctrl.button }}
    </button>
  </div>
  <div ng-if="$ctrl.message">
    {{ $ctrl.message }}
  </div>
</form>
