<div class="card text-center mt-3">
  <div class="card-body">
    <h5 class="card-title">{{$ctrl.party.name}}</h5>
    <p class="card-text">{{$ctrl.party.description}}</p>
    <div class="row mb-2">
      <div class="col">
        <p class="card-text"><i class="far fa-clock"></i> {{$ctrl.party.time}}</p>
      </div>
      <div class="col">
        <p class="card-text"><i class="far fa-calendar-alt"></i> {{$ctrl.party.date}}</p>
      </div>
    </div>
    <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{$ctrl.party.address}}</p>
    <a href="" class="btn btn-primary" role="button">Buy Ticket</a>
  </div>
</div>